<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tipic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tipic.description %>
</p>

<%= link_to 'Edit', edit_tipic_path(@tipic) %> |
<%= link_to 'Back', tipics_path %>
